<<<<<<< HEAD
<html lang="ko">
<head>

    <title>Socket.IO 예제</title>
    <style>
        .main {
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            width: 250px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1px solid lightgrey;
            border-radius: 5px;
        }

        .logo {
            margin-top: 0px;
            margin-bottom: 40px;
        }

        #login {
            width: 100%;
            background-color: skyblue;
            border-color: transparent;
            color: white;
        }

        .account {
            display: block;
            margin-bottom: 3px;
            padding: 3px;
            border: 1px solid lightgray;
            border-radius: 3px;
        }

        #alert {
            border-color: transparent;
        }

    </style>
</head>
<body>
    


    <div class="main">
        <h1 class="logo">RVSM Log-in</h1>
        <div class="container">
            <form action="/login" method="post">
                <input type="text" placeholder="ID" name="id" class="account">
                <input type="password" placeholder="Password" name="password">
                <button id="login" class="account">login</button>
                <p id="alert" class="account"> </p>
            </form>
        </div>        
    </div>  


    <!-- edit by joonik 0508 -->

    <!------------------------->


</body>

=======
<html lang="ko">
<head>

    <title>Socket.IO 예제</title>
    <style>
        .main {
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            width: 250px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1px solid lightgrey;
            border-radius: 5px;
        }

        .logo {
            margin-top: 0px;
            margin-bottom: 40px;
        }

        #login {
            width: 100%;
            background-color: skyblue;
            border-color: transparent;
            color: white;
        }

        .account {
            display: block;
            margin-bottom: 3px;
            padding: 3px;
            border: 1px solid lightgray;
            border-radius: 3px;
        }

        #alert {
            border-color: transparent;
        }

    </style>
</head>
<body>
    


    <div class="main">
        <h1 class="logo">RVSM Log-in</h1>
        <div class="container">
            <form action="/login" method="post">
                <input type="text" placeholder="ID" name="id" class="account">
                <input type="password" placeholder="Password" name="password">
                <button id="login" class="account">login</button>
                <p id="alert" class="account"> </p>
            </form>
        </div>        
    </div>  


    <!-- edit by joonik 0508 -->

    <!------------------------->


</body>

>>>>>>> 34d41c3270d6bbe96a574e4bca312d19f4d14ee1
</html>